%grid {
  display: grid;
}

%flex {
  display: flex;
}

@mixin roboto() {
  font-family: 'Roboto', sans-serif;
}

//*********Variables***********
$icon_color: #757575;

//*********Styles**************
* {
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  @extend %grid;
  justify-items: center;
}

.app_body {
  width: 1440px;
  max-width: 100%;
  min-width: 600px;
  min-height: 900px;
  border: 1px solid rgba(230, 230, 230, 1);

  .header {
    @extend %flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    &--burger_menu {
      margin: 0;
    }

    &--h1 {
      margin: 0;
      flex-grow: 1;
      @include roboto();
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }

    &--three_point {
      margin: 0;
    }
  }
.main{
  @extend %grid;
  grid-template: 10% 90%/ 50% 50%;
  .tools {
    position: absolute;
    width: 228px;
    height: 246px;
    border: 1px solid rgba(230, 230, 230, 1);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  }
}

}