%grid {
  display: grid;
}

%flex {
  display: flex;
}

@mixin roboto() {
  font-family: 'Roboto', sans-serif;
}

//*********Variables***********
$icon_color: #757575;

//*********Styles**************
* {
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  @extend %grid;
  justify-items: center;
}

.app_body {
  width: 1440px;
  max-width: 100%;
  min-width: 600px;
  height: 900px;
  border: 1px solid rgba(230, 230, 230, 1);

  .header {
    @extend %flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    &--burger_menu {
      margin: 0;
    }

    &--h1 {
      margin: 0;
      flex-grow: 1;
      @include roboto();
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }

    &--three_point {
      margin: 0;
    }
  }

  .main {
    grid-row: 1/2;
    @extend %grid;
    grid-template: 50% 50% / 20% 80%;
    align-items: center;
    width: 100%;
    height: 100%;

    .tools {
      width: 228px;
      height: 246px;
      color: rgba(0, 0, 0, 0.541327);
      margin-left: 29px;
      @include roboto();
      font-size: 1rem;
      line-height: 1.5rem;
      border: 1px solid rgba(230, 230, 230, 1);
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

      &--elem {
        padding: 15px 18px 10px;

        &-img {
          margin-right: 20px;
        }
      }
    }

    .color {
      grid-row: 2/3;
      width: 228px;
      height: 246px;
      color: rgba(0, 0, 0, 0.541327);
      margin-left: 29px;
      @include roboto();
      font-size: 1rem;
      line-height: 1.5rem;
      border: 1px solid rgba(230, 230, 230, 1);
      -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

      &--elem {
        padding: 15px 18px 10px;
        @extend %flex;

        &-circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #000000;
          margin-right: 20px;
        }

        &-circle.current {
          background-color: #C4C4C4;
        }

        &-circle.prev {
          background-color: #41F795;
        }

        &-circle.red {
          background-color: #F74141;
        }

        &-circle.blue {
          background-color: #41B6F7;
        }
      }
    }
  }

  #canvas {

  }
}