%grid {
  display: grid;
}

%flex {
  display: flex;
}

%block {
  width: 228px;
  height: 246px;
  color: rgba(0, 0, 0, 0.541327);
  margin-left: 29px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid rgba(230, 230, 230, 1);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
}

@mixin roboto() {
  font-family: 'Roboto', sans-serif;
}

//*********Styles**************
* {
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  @extend %grid;
  justify-items: center;
}

.app_body {
  width: 1440px;
  max-width: 100%;
  min-width: 600px;
  height: 900px;
  border: 1px solid rgba(230, 230, 230, 1);

  .header {
    @extend %flex;
    justify-content: flex-start;
    width: 100%;
    min-height: 48px;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);

    &--burger_menu {
      margin: 0.9rem;
      position: relative;
      padding-left: 1.25rem;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 0;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #000;
        border-bottom: 0.125em solid #000;
      }
    }

    &--h1 {
      margin: 0.9rem;
      flex-grow: 1;
      @include roboto();
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.4375rem;
    }

    &--three_point {
      margin: 0.9rem;
      font-size: 1.3rem;
      writing-mode: vertical-rl;
      @include roboto();
      font-weight: bold;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .main {
    grid-row: 1/2;
    @extend %grid;
    grid-template: 50% 50% / 20% 60% 20%;
    align-items: center;
    width: 100%;
    height: 100%;

    .tools {
      @extend %block;
      @include roboto();

      &--elem {
        padding: 15px 18px 10px;

        &-img {
          margin-right: 20px;
        }
      }
    }

    .color {
      grid-row: 2/3;
      @extend %block;
      @include roboto();

      &--elem {
        padding: 15px 18px 10px;
        @extend %flex;

        &-circle {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1px solid #000000;
          margin-right: 20px;
        }

        &-circle.current {
          background-color: #C4C4C4;
        }

        &-circle.prev {
          background-color: #41F795;
        }

        &-circle.red {
          background-color: #F74141;
        }

        &-circle.blue {
          background-color: #41B6F7;
        }
      }
    }

    #canvas {
      border: 1px solid black;
      grid-column: 2/3;
      grid-row: 1/3;
      justify-self: center;
      align-self: center;
    }

    .resolution {
      grid-column: 3/4;
      grid-row: 1/2;
      @extend %block;
      @include roboto();

      &--title {
        padding-left: 15px;
      }

      &--radio {
        padding: 15px 0 10px;
        @extend %flex;
        justify-content: center;

        &-input {
          display: none;

          &:checked + .resolution--radio-label {
            background-color: rgba(210, 210, 210, 0.5);
            -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
          }
        }

        &-label {
          @extend %flex;
          justify-content: center;
          border: 1px solid rgba(230, 230, 230, 1);
          width: 80%;

          &:hover {
            cursor: pointer;
            -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
          }

          &:active {
            cursor: pointer;
            -webkit-box-shadow: 0 7px 7px 3px rgba(0, 0, 0, 0.30), 0 0 5px rgba(0, 0, 0, 0.12);
            box-shadow: 0 7px 7px 3px rgba(0, 0, 0, 0.30), 0 0 5px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
}